@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400i,600,700&display=swap');

@import "normalize.min.css";



html {
    font-size: 100%;
}

body {
    line-height: 1.4;
}

main {
    padding: 1.4rem 0.6rem;
}

h1,
h2,
h4 {
    margin-top: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

h1 {
    font-size: 2.4rem;
    margin-bottom: 2.8rem;
}

h2 {
    font-size: 2rem;
    margin-bottom: 1.4rem;
}

h4 {
    font-size: 1.4rem;
    margin-bottom: 0;
}

p {
    margin-top: 0;
    font-family: 'Source Sans Pro', sans-serif;
    margin-bottom: 1.4rem;
    font-size: 1rem;
}



section {
    min-height: 100vh;
    margin-right: auto;
    margin-left: auto;
}

.section-disease {
    background-color: #F0F4F8;
    padding-left: 400px;
    padding-right: 400px;
}





.basic-checkbox {
	cursor: pointer;

  display: flex;
  align-items: start;

  font-family: 'Source Sans Pro', sans-serif;
  font-size: 0.8rem;
  font-weight: 600;
  border-radius: 5px;
  padding: 10px;
  background-color: white;
  color: #243B53;
  max-width: 175px;
  height: 40px;
  box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
  margin-bottom: 20px;
  text-transform: uppercase;

  --checked-state-bg-color: hsl(350, 95%, 58%);
  --checked-state-check-color: #fff;
  --outline-color: var(--checked-state-bg-color);
  --outline-offset: 10px;
  --outline-radius: 5px;
}

    // hide the checkbox accessibly
    .basic-checkbox input[type="checkbox"] {
      /* remove the checkbox from the page flow, positioning it on top of the SVG */
      position: absolute;
      /* set same dimensions as the SVG CHANGE THIS TO BIGGER */
      width: 1em;
      height: 1em;
      /* hide it */
      opacity: 0;
    }



    // basic styles for the svg
    .basic-checkbox svg {
        width: 175px;
        height: 40px;
        border-radius: 5px;
        // padding: 10px;
        // padding: 0px;


        color: #243B53;
        overflow: initial;
        position: relative;
        // top: -10px;
        top: 0px;

        // left: -118px;
        left: 0px;

        background-color: transparent;

        // margin-right: 0.5em;
        // margin-top: .1em;

        /* apply a transition to the elements inside the svg */
        * {
          transition: all 0.1s linear;
        }
    }

    .primary {
      fill: #ffbbca;
    }

    .secondary {
      // fill: #6f213f;
      fill: #ffbbca;
    }


.basic-checkbox span {
    // color: #000;
    position: absolute;
    max-width: inherit;
}


    // style changes inside the svg when the checkbox is checked
    .basic-checkbox input[type="checkbox"]:checked + svg {

      .primary {
        fill: #6f213f;
      }

      .secondary {
        fill: #ffbbca;
      }


}

    .basic-checkbox input[type="checkbox"]:focus + svg {
      outline: 3px solid var(--outline-color);
      outline-offset: var(--outline-offset);
    }
    //
    // .basic-checkbox input[type="checkbox"]:focus:not(:focus-visible) + svg {
    //   outline: none;
    // }










    /* WHCM styles */
    .basic-checkbox svg {
      @media screen and (-ms-high-contrast: active) {
        rect {
          stroke: windowText;
        }
      }
    }

    @media screen and (-ms-high-contrast: active) {
      .basic-checkbox input[type="checkbox"]:checked ~ svg {
        rect {
          fill: windowText;
        }

        polyline {
          stroke: highlight;
        }
      }
    }
