@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600&display=swap');
@import "normalize.min.css";



html {
    font-size: 100%;
    font-family: 'Source Sans Pro', sans-serif;
    color: hsl(211, 39%, 23%);
}

body {
    // line-height: 1.4;
}

main {
    // padding: 1.4rem 0.6rem;
    // max-width: 1000px;
}

*, *::before, *::after {
  box-sizing: border-box;
}

.header-title-nav-wrapper {
    padding: 48px;
}

.inner-wrap-footer {
    padding: 48px;
}

h1,
h2,
h3,
h4 {
    margin-top: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

h1 {
    // font-size: 2.4rem;
    margin-bottom: 2.8rem;
}

h2 {
    // font-size: 2rem;
    margin-bottom: 1.4rem;
    font-weight: 400;
}

h4 {
    // font-size: 1.4rem;
    margin-bottom: 0;
}

p {
    // margin-top: 0;
    // font-family: 'Source Sans Pro', sans-serif;
    margin-bottom: 1.4rem;
    max-width: 20em;
    // font-size: 1rem;
    color: hsl(209, 34%, 30%);
}


details,
button,
a {
    margin-bottom: 2.4rem;
    max-width: 20em;
}
// a {
//     font-family: 'Source Sans Pro', sans-serif;
// }
//
// button {
//     font-family: 'Source Sans Pro', sans-serif;
// }
//
// summary {
//     font-family: 'Source Sans Pro', sans-serif;
// }
//
// details {
//     font-family: 'Source Sans Pro', sans-serif;
// }
//
// input {
//     font-family: 'Source Sans Pro', sans-serif;
// }



summary {
    color: hsl(210, 22%, 49%);
}

details {
    color: hsl(210, 22%, 49%);
}

section {
    min-height: 100vh;
    margin-right: auto;
    margin-left: auto;
    padding: 48px;
}


a {
  color: hsl(209, 61%, 16%);
  font-weight: 600;
  // font-family: helvetica;
  // text-decoration: none;
  // text-transform: uppercase;
}

a:hover {
  // text-decoration: underline;
}

a:active {
  color: black;
}

a:visited {
  // color: hsl(209, 28%, 39%);
  color: hsl(209, 61%, 16%);
}

.section-intro {
    // background-color: #FFF;
}

.section-sex {
    background-color: hsl(210, 36%, 96%);
}

.section-eggs {
    background-color: #FFF;
}

.section-disease {
    background-color: hsl(210, 36%, 96%);
}


.section-unwanted-features {
    // background-color: #EFFCF6;
}

.section-container {
    display: flex;
}

.paragraph-disease {
    flex-basis: 70%;
    margin-right: 64px;
}


fieldset {
  display: block;
  margin-left: 2px;
  margin-right: 2px;
  padding-top: 0.35em;
  padding-bottom: 0.625em;
  padding-left: 0.75em;
  padding-right: 0.75em;
  border: 2px groove (internal value);

  display: flex;
  margin: 0px;
  padding: 0px;
  border: 0px;

}

.control {
    display: flex;
    flex-wrap: wrap;
    // padding-top: 256px;
}

.basic-checkbox {
	cursor: pointer;

  // display: flex;
  // align-items: start;

  font-family: 'Source Sans Pro', sans-serif;
  font-size: 0.8rem;
  font-weight: 600;
  border-radius: 4px;
  padding: 16px;
  background-color: white;
  color: hsl(211, 39%, 23%);
  // max-width: 175px;
  // max-width: 128px;
  max-width: 192px;
  // height: 40px;
  // height: 32px;
  height: 64px;
  box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
  margin-right: 16px;
  margin-bottom: 16px;
  // text-transform: uppercase;

  --checked-state-bg-color: hsl(209, 28%, 39%);
  --checked-state-check-color: #fff;
  --outline-color: var(--checked-state-bg-color);
  --outline-offset: 16px;
  --outline-radius: 5px;
}

    // hide the checkbox accessibly
    .basic-checkbox input[type="checkbox"] {
      /* remove the checkbox from the page flow, positioning it on top of the SVG */
      position: absolute;
      /* set same dimensions as the SVG CHANGE THIS TO BIGGER */
      width: 1em;
      height: 1em;
      /* hide it */
      opacity: 0;
    }



    // basic styles for the svg
    .basic-checkbox svg {
        width: 128px;
        height: 32px;
        border-radius: 4px;
        // padding: 10px;
        // padding: 0px;


        color: #243B53;
        overflow: initial;
        position: relative;
        // top: -10px;
        top: 0px;

        // left: -118px;
        left: 0px;

        background-color: transparent;

        // margin-right: 0.5em;
        // margin-top: .1em;

        /* apply a transition to the elements inside the svg */
        * {
          transition: all 0.1s linear;
        }
    }

    .primary {
      fill: hsl(209, 23%, 60%);
    }

    .secondary {
      // fill: #6f213f;
      fill: hsl(209, 23%, 60%);
    }


.basic-checkbox span {
    // color: #000;
    position: absolute;
    max-width: 96px;
}


    // style changes inside the svg when the checkbox is checked
    .basic-checkbox input[type="checkbox"]:checked + svg {

      .primary {
        fill: hsl(209, 34%, 30%);
      }

      .secondary {
        fill: hsl(210, 36%, 96%);
      }


}

    .basic-checkbox input[type="checkbox"]:focus + svg {
      outline: 3px solid var(--outline-color);
      outline-offset: var(--outline-offset);
    }
    //
    // .basic-checkbox input[type="checkbox"]:focus:not(:focus-visible) + svg {
    //   outline: none;
    // }







    /* WHCM styles */
    .basic-checkbox svg {
      @media screen and (-ms-high-contrast: active) {
        rect {
          stroke: windowText;
        }
      }
    }

    @media screen and (-ms-high-contrast: active) {
      .basic-checkbox input[type="checkbox"]:checked ~ svg {
        rect {
          fill: windowText;
        }

        polyline {
          stroke: highlight;
        }
      }
    }






        .sex-radio-button {
            cursor: pointer;

          // display: flex;
          // align-items: start;

          font-family: 'Source Sans Pro', sans-serif;
          font-size: 0.8rem;
          font-weight: 600;
          border-radius: 4px;
          padding: 16px;
          background-color: white;
          color: hsl(211, 39%, 23%);
          max-width: 192px;
          height: 128px;

          box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
          margin-right: 16px;
          margin-bottom: 16px;
          // text-transform: uppercase;

          --checked-state-bg-color: hsl(209, 28%, 39%);
          --checked-state-check-color: #fff;
          --outline-color: var(--checked-state-bg-color);
          --outline-offset: 16px;
          --outline-radius: 5px;
        }

            // hide the checkbox accessibly
            .sex-radio-button input[type="radio"] {
              /* remove the checkbox from the page flow, positioning it on top of the SVG */
              position: absolute;
              /* set same dimensions as the SVG CHANGE THIS TO BIGGER */
              width: 1em;
              height: 1em;
              /* hide it */
              opacity: 0;
            }



            // basic styles for the svg
            .sex-radio-button svg {
                width: 128px;
                height: 96px;
                border-radius: 4px;


                color: #243B53;
                overflow: initial;
                position: relative;
                // top: -10px;
                top: 0px;

                // left: -118px;
                left: 0px;

                background-color: transparent;

                // margin-right: 0.5em;
                // margin-top: .1em;

                // display: none; // REMOVE THIS LATER
                /* apply a transition to the elements inside the svg */
                * {
                  transition: all 0.1s linear;
                }
            }

            .primary {
              fill: hsl(209, 23%, 60%);
            }

            .secondary {
              // fill: #6f213f;
              fill: hsl(209, 23%, 60%);
            }


        .sex-radio-button span {
            // color: #000;
            position: absolute;
            // max-width: 112px;
            display: block;
            width: 250px;
        }


        .sex-radio-button span.info {
            color: hsl(209, 34%, 30%);
            font-weight: 400;
            padding-top: 4px;
        }

        .sex-radio-button span.egg {
            padding-top: 16px;
            font-size: 64px;
            font-weight: 400;
            color: hsl(210, 22%, 49%);
            letter-spacing: 0.05em;
        }

        .sex-radio-button span.eggs-fluid {
            padding-top: 80px;
            color: hsl(210, 22%, 49%);
        }
        .sex-radio-button span.eggs-short-expl {
            padding-top: 112px;
            font-size: 16px;
            font-weight: 400;
        }
        .sex-radio-button span.eggs-why {
            padding-top: 176px;
            font-weight: 400;
            font-size: 16px;
        }
        .sex-radio-button span.eggs-bullet-1 {
            padding-top: 304px;
            color: hsl(210, 22%, 49%);
        }
        .sex-radio-button span.eggs-bullet-2 {
            padding-top: 320px;
            color: hsl(210, 22%, 49%);
        }
        .sex-radio-button span.eggs-bullet-3 {
            padding-top: 336px;
            color: hsl(210, 22%, 49%);
        }

            // style changes inside the svg when the checkbox is checked
            .sex-radio-button input[type="radio"]:checked + svg {

              .primary {
                fill: hsl(209, 34%, 30%);
              }

              .secondary {
                fill: hsl(210, 36%, 96%);
              }


        }

            .sex-radio-button input[type="radio"]:focus + svg {
              outline: 3px solid var(--outline-color);
              outline-offset: var(--outline-offset);
            }
            //
            // .sex-radio-button input[type="radio"]:focus:not(:focus-visible) + svg {
            //   outline: none;
            // }







            /* WHCM styles */
            .sex-radio-button svg {
              @media screen and (-ms-high-contrast: active) {
                rect {
                  stroke: windowText;
                }
              }
            }

            @media screen and (-ms-high-contrast: active) {
              .sex-radio-button input[type="radio"]:checked ~ svg {
                rect {
                  fill: windowText;
                }

                polyline {
                  stroke: highlight;
                }
              }
            }




#section-physical-features > div > div > div:nth-child(4) {
    width: 384px;
    height: 96px;
    // box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
    border-radius: 4px;
    padding: 16px;
    // padding-bottom: 192px;
    justify-content: space-evenly;
    margin-bottom: 48px;
    text-align: center;
}


                    .eye-colour-radio-button {
                        cursor: pointer;

                      // display: flex;
                      // align-items: start;

                      font-family: 'Source Sans Pro', sans-serif;
                      font-size: 0.8rem;
                      font-weight: 600;
                      border-radius: 50%;
                      // padding: 16px;
                      background-color: white;
                      color: hsl(211, 39%, 23%);
                      max-width: 48px;
                      height: 48px;

                      box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
                      margin-right: 16px;
                      margin-bottom: 16px;
                      // text-transform: uppercase;

                      --checked-state-bg-color: hsl(209, 28%, 39%);
                      --checked-state-check-color: #fff;
                      --outline-color: var(--checked-state-bg-color);
                      --outline-offset: 0px;
                      --outline-radius: 5px;
                    }

                        // hide the checkbox accessibly
                        .eye-colour-radio-button input[type="radio"] {
                          /* remove the checkbox from the page flow, positioning it on top of the SVG */
                          position: absolute;
                          /* set same dimensions as the SVG CHANGE THIS TO BIGGER */
                          width: 1em;
                          height: 1em;
                          /* hide it */
                          opacity: 0;
                        }



                        // basic styles for the svg
                        .eye-colour-radio-button svg {
                            width: 128px;
                            height: 96px;
                            border-radius: 4px;
                            width: 48px;
                            height: 48px;
                            border-radius: 50%;


                            color: #243B53;
                            overflow: initial;
                            position: relative;
                            // top: -10px;
                            top: 0px;

                            // left: -118px;
                            left: 0px;

                            background-color: transparent;

                            // margin-right: 0.5em;
                            // margin-top: .1em;

                            // display: none; // REMOVE THIS LATER
                            /* apply a transition to the elements inside the svg */
                            * {
                              transition: all 0.1s linear;
                            }
                        }

                        // .eyball {
                        //   fill: #fff;
                        //   // box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
                        // }
                        .eyeball {
                            fill: #fff;
                            stroke: #fff;
                            stroke-width: 8px;
                        }

                                                  // .iris {
                                                  //     fill: #8A6748;
                                                  // }

                                                  .iris-dark-brown {
                                                      fill: #8A6748;

                                                      // fill: #8A6748;
                                                      // fill: #611A02 ;
                                                  }

                                                  .iris-light-brown {
                                                      // fill: #AD6A2D;
                                                      fill: #dc8d54;
                                                  }

                                                  .iris-green {
                                                      // fill: hsl(162, 63%, 41%);
                                                      fill: #8EEDC7;
                                                  }

                                                  .iris-blue {
                                                      // fill: hsl(245, 79%, 52%);
                                                      fill: #A2A5FC;
                                                  }

                                                  .iris-other {
                                                      fill: #fff;
                                                  }


                        .pupil {
                          // fill: #6f213f;
                          // fill: hsl(209, 23%, 60%);
                          fill: #000;
                        }


                    .eye-colour-radio-button span {
                        // color: #000;
                        position: absolute;
                        // max-width: 112px;
                        display: block;
                        // width: 250px;
                        // opacity: 0;
                        padding-top: 64px;
                        // padding-top: 64px;
                        width: 48px;
                        max-width: 48px;
                    }


                    .eye-colour-radio-button span.info {
                        color: hsl(209, 34%, 30%);
                        font-weight: 400;
                        padding-top: 4px;
                    }

                    .eye-colour-radio-button span.egg {
                        padding-top: 16px;
                        font-size: 48px;
                        font-weight: 400;
                    }

                    .eye-colour-radio-button span.eggs-fluid {
                        padding-top: 80px;
                        color: hsl(210, 22%, 49%);
                    }
                    .eye-colour-radio-button span.eggs-short-expl {
                        padding-top: 112px;
                        font-size: 16px;
                        font-weight: 400;
                    }
                    .eye-colour-radio-button span.eggs-why {
                        padding-top: 176px;
                        font-weight: 400;
                        font-size: 16px;
                    }
                    .eye-colour-radio-button span.eggs-bullet-1 {
                        padding-top: 304px;
                        color: hsl(210, 22%, 49%);
                    }
                    .eye-colour-radio-button span.eggs-bullet-2 {
                        padding-top: 320px;
                        color: hsl(210, 22%, 49%);
                    }
                    .eye-colour-radio-button span.eggs-bullet-3 {
                        padding-top: 336px;
                        color: hsl(210, 22%, 49%);
                    }

                        // style changes inside the svg when the checkbox is checked
                        .eye-colour-radio-button input[type="radio"]:checked + svg {
                            .eyeball {
                                stroke: hsl(209, 34%, 30%);
                                stroke-width: 8px;
                            }
                          .primary {
                            fill: hsl(209, 34%, 30%);
                          }

                          .secondary {
                            fill: hsl(210, 36%, 96%);
                          }

                          // .iris {
                          //     fill: #8A6748;
                          // }

                          .iris-dark-brown {
                              // fill: #8A6748;
                              // fill: #611A02 ;
                              // fill: #553117;
                              fill: #8A6748;
                          }

                          .iris-light-brown {
                              fill: #AD6A2D;
                          }

                          .iris-green {
                              fill: hsl(162, 63%, 41%);
                          }

                          .iris-blue {
                              fill: hsl(245, 79%, 52%);
                          }

                          .iris-other {
                              fill: #fff;
                          }


                    }

                        .eye-colour-radio-button input[type="radio"]:focus + svg {
                          outline: 3px solid var(--outline-color);
                          outline-offset: var(--outline-offset);
                        }
                        //
                        // .eye-colour-radio-button input[type="radio"]:focus:not(:focus-visible) + svg {
                        //   outline: none;
                        // }







                        /* WHCM styles */
                        .eye-colour-radio-button svg {
                          @media screen and (-ms-high-contrast: active) {
                            rect {
                              stroke: windowText;
                            }
                          }
                        }

                        @media screen and (-ms-high-contrast: active) {
                          .eye-colour-radio-button input[type="radio"]:checked ~ svg {
                            rect {
                              fill: windowText;
                            }

                            polyline {
                              stroke: highlight;
                            }
                          }
                        }
#section-physical-features > div > div > div:nth-child(6) {
    width: 384px;
    height: 192px;
    box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
    border-radius: 4px;
    padding: 16px;
    padding-bottom: 192px;
    justify-content: space-evenly;
    margin-bottom: 48px;
}


// div .control .shade-box {
//     width: 384px;
//     height: 384px;
// }



                .skin-colour-radio-button {
                    cursor: pointer;

                  // display: flex;
                  // align-items: start;

                  font-family: 'Source Sans Pro', sans-serif;
                  font-size: 0.8rem;
                  font-weight: 600;
                  border-radius: 50%;
                  // padding: 16px;
                  background-color: white;
                  color: hsl(211, 39%, 23%);
                  max-width: 48px;
                  height: 48px;

                  margin: 16px;
                  // box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
                  // margin-right: 16px;
                  // margin-bottom: 16px;
                  // text-transform: uppercase;

                  --checked-state-bg-color: hsl(209, 28%, 39%);
                  --checked-state-check-color: #fff;
                  --outline-color: var(--checked-state-bg-color);
                  --outline-offset: 0px;
                  --outline-radius: 5px;
                }

                    // hide the checkbox accessibly
                    .skin-colour-radio-button input[type="radio"] {
                      /* remove the checkbox from the page flow, positioning it on top of the SVG */
                      position: absolute;
                      /* set same dimensions as the SVG CHANGE THIS TO BIGGER */
                      width: 1em;
                      height: 1em;
                      /* hide it */
                      opacity: 0;
                    }



                    // basic styles for the svg
                    .skin-colour-radio-button svg {
                        width: 128px;
                        height: 96px;
                        border-radius: 4px;
                        width: 48px;
                        height: 48px;
                        border-radius: 50%;


                        color: #243B53;
                        overflow: initial;
                        position: relative;
                        // top: -10px;
                        top: 0px;

                        // left: -118px;
                        left: 0px;
                        background-color: transparent;

                        // background-color: brown;
                        box-shadow: inset 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);


                        // margin-right: 0.5em;
                        // margin-top: .1em;

                        // display: none; // REMOVE THIS LATER
                        /* apply a transition to the elements inside the svg */
                        * {
                          transition: all 0.1s linear;
                        }
                    }

                    // #291003 {
                    //     background-color: #291003;
                    // }

                    .hex-291003 {
                      fill: #291003;
                    }

                    .hex-362923 {
                      fill: #362923;
                    }

                    .hex-553117 {
                      fill: #553117;
                    }

                    .hex-874c2b {
                      fill: #874c2b;
                    }

                    .hex-ae5a18 {
                      fill: #ae5a18;
                    }

                    .hex-dc8d54 {
                      fill: #dc8d54;
                    }

                    .hex-bf8d50 {
                      fill: #bf8d50;
                    }

                    .hex-dbb288 {
                      fill: #dbb288;
                    }



                .skin-colour-radio-button span {
                    // color: #000;
                    position: absolute;
                    // max-width: 112px;
                    display: block;
                    width: 48px;
                    // opacity: 0;
                    padding-top: 48px;
                }


                .skin-colour-radio-button span.info {
                    color: hsl(209, 34%, 30%);
                    font-weight: 400;
                    padding-top: 4px;
                }

                .skin-colour-radio-button span.egg {
                    padding-top: 16px;
                    font-size: 48px;
                    font-weight: 400;
                }

                .skin-colour-radio-button span.eggs-fluid {
                    padding-top: 80px;
                    color: hsl(210, 22%, 49%);
                }
                .skin-colour-radio-button span.eggs-short-expl {
                    padding-top: 112px;
                    font-size: 16px;
                    font-weight: 400;
                }
                .skin-colour-radio-button span.eggs-why {
                    padding-top: 176px;
                    font-weight: 400;
                    font-size: 16px;
                }
                .skin-colour-radio-button span.eggs-bullet-1 {
                    padding-top: 304px;
                    color: hsl(210, 22%, 49%);
                }
                .skin-colour-radio-button span.eggs-bullet-2 {
                    padding-top: 320px;
                    color: hsl(210, 22%, 49%);
                }
                .skin-colour-radio-button span.eggs-bullet-3 {
                    padding-top: 336px;
                    color: hsl(210, 22%, 49%);
                }

                    // style changes inside the svg when the checkbox is checked
                    .skin-colour-radio-button input[type="radio"]:checked + svg {
                        // border: 10px black;

                      .primary {
                        stroke: hsl(209, 34%, 30%);
                      }

                      .secondary {
                        fill: hsl(210, 36%, 96%);
                      }


                }

                    .skin-colour-radio-button input[type="radio"]:focus + svg {
                      outline: 3px solid var(--outline-color);
                      outline-offset: var(--outline-offset);
                    }
                    //
                    // .skin-colour-radio-button input[type="radio"]:focus:not(:focus-visible) + svg {
                    //   outline: none;
                    // }







                    /* WHCM styles */
                    .skin-colour-radio-button svg {
                      @media screen and (-ms-high-contrast: active) {
                        rect {
                          stroke: windowText;
                        }
                      }
                    }

                    @media screen and (-ms-high-contrast: active) {
                      .skin-colour-radio-button input[type="radio"]:checked ~ svg {
                        rect {
                          fill: windowText;
                        }

                        polyline {
                          stroke: highlight;
                        }
                      }
                    }





#section-physical-features > div > div > div:nth-child(9) {
    width: 384px;
    height: 192px;
    box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
    border-radius: 4px;
    padding: 16px;
    padding-bottom: 192px;
    justify-content: space-evenly;
    margin-bottom: 48px;
    text-align: center;
}




.hair-colour-radio-button {
    cursor: pointer;

  // display: flex;
  // align-items: start;

  font-family: 'Source Sans Pro', sans-serif;
  font-size: 0.8rem;
  font-weight: 600;
  border-radius: 4px;
  // padding: 16px;
  background-color: white;
  color: hsl(211, 39%, 23%);
  // max-width: 128px;
  // height: 96px;
  max-width: 48px;
      height: 48px;
      margin: 16px;
  // box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
  // margin-right: 16px;
  // margin-bottom: 16px;
  // text-transform: uppercase;

  --checked-state-bg-color: hsl(209, 28%, 39%);
  --checked-state-check-color: #fff;
  --outline-color: var(--checked-state-bg-color);
  --outline-offset: 0px;
  --outline-radius: 5px;
}

    // hide the checkbox accessibly
    .hair-colour-radio-button input[type="radio"] {
      /* remove the checkbox from the page flow, positioning it on top of the SVG */
      position: absolute;
      /* set same dimensions as the SVG CHANGE THIS TO BIGGER */
      width: 1em;
      height: 1em;
      /* hide it */
      opacity: 0;
    }



    // basic styles for the svg
    .hair-colour-radio-button svg {
        // width: 128px;
        // height: 96px;
        max-width: 48px;
            height: 48px;
        border-radius: 4px;


        color: #243B53;
        overflow: initial;
        position: relative;
        // top: -10px;
        top: 0px;

        // left: -118px;
        left: 0px;

        background-color: transparent;

        // margin-right: 0.5em;
        // margin-top: .1em;

        // display: none; // REMOVE THIS LATER
        /* apply a transition to the elements inside the svg */
        * {
          transition: all 0.1s linear;
        }
    }


.dark-brown-hair-colour {
    fill: #8A6748;
}

.light-brown-hair-colour {
    fill: #dc8d54;
}

.chestnut-hair-colour {
    fill: #954535;
}

.red-hair-colour {
    fill: #9E311E;
}

.dark-blonde-hair-colour {
    fill: #bf9f6a;
}

.light-blonde-hair-colour {
    fill: #faf0be;
}



.hair-colour-radio-button span {
    // color: #000;
    position: absolute;
    display: block;
    width: 48px;
    padding-top: 48px;
}


.hair-colour-radio-button span.info {
    color: hsl(209, 34%, 30%);
    font-weight: 400;
    padding-top: 4px;
}

.hair-colour-radio-button span.egg {
    padding-top: 16px;
    font-size: 48px;
    font-weight: 400;
}

.hair-colour-radio-button span.eggs-fluid {
    padding-top: 80px;
    color: hsl(210, 22%, 49%);
}
.hair-colour-radio-button span.eggs-short-expl {
    padding-top: 112px;
    font-size: 16px;
    font-weight: 400;
}
.hair-colour-radio-button span.eggs-why {
    padding-top: 176px;
    font-weight: 400;
    font-size: 16px;
}
.hair-colour-radio-button span.eggs-bullet-1 {
    padding-top: 304px;
    color: hsl(210, 22%, 49%);
}
.hair-colour-radio-button span.eggs-bullet-2 {
    padding-top: 320px;
    color: hsl(210, 22%, 49%);
}
.hair-colour-radio-button span.eggs-bullet-3 {
    padding-top: 336px;
    color: hsl(210, 22%, 49%);
}

    // style changes inside the svg when the checkbox is checked
    .hair-colour-radio-button input[type="radio"]:checked + svg {

      .primary {
        fill: hsl(209, 34%, 30%);
      }

      .secondary {
        fill: hsl(210, 36%, 96%);
      }


}

    .hair-colour-radio-button input[type="radio"]:focus + svg {
      outline: 3px solid var(--outline-color);
      outline-offset: var(--outline-offset);
    }
    //
    // .hair-colour-radio-button input[type="radio"]:focus:not(:focus-visible) + svg {
    //   outline: none;
    // }







    /* WHCM styles */
    .hair-colour-radio-button svg {
      @media screen and (-ms-high-contrast: active) {
        rect {
          stroke: windowText;
        }
      }
    }

    @media screen and (-ms-high-contrast: active) {
      .hair-colour-radio-button input[type="radio"]:checked ~ svg {
        rect {
          fill: windowText;
        }

        polyline {
          stroke: highlight;
        }
      }
    }









    .hair-feature-radio-button {
        cursor: pointer;

      // display: flex;
      // align-items: start;

      font-family: 'Source Sans Pro', sans-serif;
      font-size: 0.8rem;
      font-weight: 600;
      border-radius: 4px;
      padding: 16px;
      background-color: white;
      color: hsl(211, 39%, 23%);
      max-width: 96px;
      height: 48px;

      box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
      margin-right: 16px;
      margin-bottom: 16px;
      // text-transform: uppercase;

      --checked-state-bg-color: hsl(209, 28%, 39%);
      --checked-state-check-color: #fff;
      --outline-color: var(--checked-state-bg-color);
      --outline-offset: 0px;
      --outline-radius: 5px;
    }

        // hide the checkbox accessibly
        .hair-feature-radio-button input[type="radio"] {
          /* remove the checkbox from the page flow, positioning it on top of the SVG */
          position: absolute;
          /* set same dimensions as the SVG CHANGE THIS TO BIGGER */
          width: 1em;
          height: 1em;
          /* hide it */
          opacity: 0;
        }



        // basic styles for the svg
        .hair-feature-radio-button svg {
            // width: 128px;
            // height: 96px;
            width: 96px;
            height: 48px;
            border-radius: 4px;


            color: #243B53;
            overflow: initial;
            position: relative;
            // top: -10px;
            top: 0px;

            // left: -118px;
            left: 0px;

            background-color: transparent;

            // margin-right: 0.5em;
            // margin-top: .1em;

            // display: none; // REMOVE THIS LATER
            /* apply a transition to the elements inside the svg */
            * {
              transition: all 0.1s linear;
            }
        }

        .primary {
          fill: hsl(209, 23%, 60%);
        }

        .secondary {
          // fill: #6f213f;
          fill: hsl(209, 23%, 60%);
        }


    .hair-feature-radio-button span {
        // color: #000;
        position: absolute;
        // max-width: 112px;
        display: block;
        width: 250px;
    }


    .hair-feature-radio-button span.info {
        color: hsl(209, 34%, 30%);
        font-weight: 400;
        padding-top: 4px;
    }

    .hair-feature-radio-button span.egg {
        padding-top: 16px;
        font-size: 48px;
        font-weight: 400;
    }

    .hair-feature-radio-button span.eggs-fluid {
        padding-top: 80px;
        color: hsl(210, 22%, 49%);
    }
    .hair-feature-radio-button span.eggs-short-expl {
        padding-top: 112px;
        font-size: 16px;
        font-weight: 400;
    }
    .hair-feature-radio-button span.eggs-why {
        padding-top: 176px;
        font-weight: 400;
        font-size: 16px;
    }
    .hair-feature-radio-button span.eggs-bullet-1 {
        padding-top: 304px;
        color: hsl(210, 22%, 49%);
    }
    .hair-feature-radio-button span.eggs-bullet-2 {
        padding-top: 320px;
        color: hsl(210, 22%, 49%);
    }
    .hair-feature-radio-button span.eggs-bullet-3 {
        padding-top: 336px;
        color: hsl(210, 22%, 49%);
    }

        // style changes inside the svg when the checkbox is checked
        .hair-feature-radio-button input[type="radio"]:checked + svg {

          .primary {
            fill: hsl(209, 34%, 30%);
          }

          .secondary {
            fill: hsl(210, 36%, 96%);
          }


    }

        .hair-feature-radio-button input[type="radio"]:focus + svg {
          outline: 3px solid var(--outline-color);
          outline-offset: var(--outline-offset);
        }
        //
        // .hair-feature-radio-button input[type="radio"]:focus:not(:focus-visible) + svg {
        //   outline: none;
        // }







        /* WHCM styles */
        .hair-feature-radio-button svg {
          @media screen and (-ms-high-contrast: active) {
            rect {
              stroke: windowText;
            }
          }
        }

        @media screen and (-ms-high-contrast: active) {
          .hair-feature-radio-button input[type="radio"]:checked ~ svg {
            rect {
              fill: windowText;
            }

            polyline {
              stroke: highlight;
            }
          }
        }






            .gestation-radio-button {
                cursor: pointer;

              // display: flex;
              // align-items: start;

              font-family: 'Source Sans Pro', sans-serif;
              font-size: 0.8rem;
              font-weight: 600;
              border-radius: 4px;
              padding: 16px;
              background-color: white;
              color: hsl(211, 39%, 23%);
              max-width: 128px;
              height: 96px;

              box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
              margin-right: 16px;
              margin-bottom: 16px;
              // text-transform: uppercase;

              --checked-state-bg-color: hsl(209, 28%, 39%);
              --checked-state-check-color: #fff;
              --outline-color: var(--checked-state-bg-color);
              --outline-offset: 16px;
              --outline-radius: 5px;
            }

                // hide the checkbox accessibly
                .gestation-radio-button input[type="radio"] {
                  /* remove the checkbox from the page flow, positioning it on top of the SVG */
                  position: absolute;
                  /* set same dimensions as the SVG CHANGE THIS TO BIGGER */
                  width: 1em;
                  height: 1em;
                  /* hide it */
                  opacity: 0;
                }



                // basic styles for the svg
                .gestation-radio-button svg {
                    width: 128px;
                    height: 96px;
                    border-radius: 4px;


                    color: #243B53;
                    overflow: initial;
                    position: relative;
                    // top: -10px;
                    top: 0px;

                    // left: -118px;
                    left: 0px;

                    background-color: transparent;

                    // margin-right: 0.5em;
                    // margin-top: .1em;

                    // display: none; // REMOVE THIS LATER
                    /* apply a transition to the elements inside the svg */
                    * {
                      transition: all 0.1s linear;
                    }
                }

                .primary {
                  fill: hsl(209, 23%, 60%);
                }

                .secondary {
                  // fill: #6f213f;
                  fill: hsl(209, 23%, 60%);
                }


            .gestation-radio-button span {
                // color: #000;
                position: absolute;
                // max-width: 112px;
                display: block;
                width: 250px;
            }


            .gestation-radio-button span.info {
                color: hsl(209, 34%, 30%);
                font-weight: 400;
                padding-top: 4px;
            }

            .gestation-radio-button span.egg {
                padding-top: 16px;
                font-size: 48px;
                font-weight: 400;
            }

            .gestation-radio-button span.eggs-fluid {
                padding-top: 80px;
                color: hsl(210, 22%, 49%);
            }
            .gestation-radio-button span.eggs-short-expl {
                padding-top: 112px;
                font-size: 16px;
                font-weight: 400;
            }
            .gestation-radio-button span.eggs-why {
                padding-top: 176px;
                font-weight: 400;
                font-size: 16px;
            }
            .gestation-radio-button span.eggs-bullet-1 {
                padding-top: 304px;
                color: hsl(210, 22%, 49%);
            }
            .gestation-radio-button span.eggs-bullet-2 {
                padding-top: 320px;
                color: hsl(210, 22%, 49%);
            }
            .gestation-radio-button span.eggs-bullet-3 {
                padding-top: 336px;
                color: hsl(210, 22%, 49%);
            }

                // style changes inside the svg when the checkbox is checked
                .gestation-radio-button input[type="radio"]:checked + svg {

                  .primary {
                    fill: hsl(209, 34%, 30%);
                  }

                  .secondary {
                    fill: hsl(210, 36%, 96%);
                  }


            }

                .gestation-radio-button input[type="radio"]:focus + svg {
                  outline: 3px solid var(--outline-color);
                  outline-offset: var(--outline-offset);
                }
                //
                // .gestation-radio-button input[type="radio"]:focus:not(:focus-visible) + svg {
                //   outline: none;
                // }







                /* WHCM styles */
                .gestation-radio-button svg {
                  @media screen and (-ms-high-contrast: active) {
                    rect {
                      stroke: windowText;
                    }
                  }
                }

                @media screen and (-ms-high-contrast: active) {
                  .gestation-radio-button input[type="radio"]:checked ~ svg {
                    rect {
                      fill: windowText;
                    }

                    polyline {
                      stroke: highlight;
                    }
                  }
                }






            .egg-package-radio-button {
            	cursor: pointer;

              // display: flex;
              // align-items: start;

              font-family: 'Source Sans Pro', sans-serif;
              font-size: 0.8rem;
              font-weight: 600;
              border-radius: 4px;
              padding: 32px;
              background-color: white;
              color: hsl(211, 39%, 23%);
              // max-width: 175px;
              // max-width: 512px;
              // height: 40px;
              // height: 256px;
              height: 448px;
              width: 320px;
              box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
              margin-right: 16px;
              margin-bottom: 16px;
              // text-transform: uppercase;

              --checked-state-bg-color: hsl(209, 28%, 39%);
              --checked-state-check-color: #fff;
              --outline-color: var(--checked-state-bg-color);
              --outline-offset: 32px;
              --outline-radius: 5px;
            }

                // hide the checkbox accessibly
                .egg-package-radio-button input[type="radio"] {
                  /* remove the checkbox from the page flow, positioning it on top of the SVG */
                  position: absolute;
                  /* set same dimensions as the SVG CHANGE THIS TO BIGGER */
                  width: 1em;
                  height: 1em;
                  /* hide it */
                  opacity: 0;
                }



                // basic styles for the svg
                .egg-package-radio-button svg {
                    // width: 128px;
                    // height: 96px;
                    height: 384px;
                    width: 256px;
                    border-radius: 4px;
                    // padding: 10px;
                    // padding: 0px;
                    // padding: 32px;


                    color: #243B53;
                    overflow: initial;
                    position: relative;
                    // top: -10px;
                    top: 0px;

                    // left: -118px;
                    left: 0px;

                    background-color: transparent;

                    // margin-right: 0.5em;
                    // margin-top: .1em;

                    // display: none; // REMOVE THIS LATER
                    /* apply a transition to the elements inside the svg */
                    * {
                      transition: all 0.1s linear;
                    }
                }

                .primary {
                  fill: hsl(209, 23%, 60%);
                }

                .secondary {
                  // fill: #6f213f;
                  fill: hsl(209, 23%, 60%);
                }


            .egg-package-radio-button span {
                // color: #000;
                position: absolute;
                // max-width: 112px;
                display: block;
                width: 250px;
            }


            .egg-package-radio-button span.info {
                color: hsl(209, 34%, 30%);
                font-weight: 400;
                padding-top: 4px;
            }

            .egg-package-radio-button span.egg {
                padding-top: 16px;
                font-size: 48px;
                font-weight: 400;
            }

            .egg-package-radio-button span.eggs-fluid {
                padding-top: 80px;
                color: hsl(210, 22%, 49%);
            }
            .egg-package-radio-button span.eggs-short-expl {
                padding-top: 112px;
                font-size: 16px;
                font-weight: 600;
            }
            .egg-package-radio-button span.eggs-why {
                padding-top: 176px;
                font-weight: 400;
                font-size: 16px;
            }
            .egg-package-radio-button span.eggs-bullet-1 {
                padding-top: 304px;
                color: hsl(210, 22%, 49%);
            }
            .egg-package-radio-button span.eggs-bullet-2 {
                padding-top: 320px;
                color: hsl(210, 22%, 49%);
            }
            .egg-package-radio-button span.eggs-bullet-3 {
                padding-top: 336px;
                color: hsl(210, 22%, 49%);
            }

                // style changes inside the svg when the checkbox is checked
                .egg-package-radio-button input[type="radio"]:checked + svg {

                  .primary {
                    fill: hsl(209, 34%, 30%);
                  }

                  .secondary {
                    fill: hsl(210, 36%, 96%);
                  }


            }

                .egg-package-radio-button input[type="radio"]:focus + svg {
                  outline: 3px solid var(--outline-color);
                  outline-offset: var(--outline-offset);
                }
                //
                // .egg-package-radio-button input[type="radio"]:focus:not(:focus-visible) + svg {
                //   outline: none;
                // }







                /* WHCM styles */
                .egg-package-radio-button svg {
                  @media screen and (-ms-high-contrast: active) {
                    rect {
                      stroke: windowText;
                    }
                  }
                }

                @media screen and (-ms-high-contrast: active) {
                  .egg-package-radio-button input[type="radio"]:checked ~ svg {
                    rect {
                      fill: windowText;
                    }

                    polyline {
                      stroke: highlight;
                    }
                  }
                }





                    .extra-options-checkbox {
                    	cursor: pointer;

                      // display: flex;
                      // align-items: start;

                      font-family: 'Source Sans Pro', sans-serif;
                      font-size: 0.8rem;
                      font-weight: 600;
                      border-radius: 4px;
                      padding: 16px;
                      background-color: white;
                      color: hsl(211, 39%, 23%);
                      // max-width: 175px;
                      // max-width: 128px;
                      // height: 40px;
                      // height: 96px;
                      width: 192px;
                      height: 128px;
                      box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
                      margin-right: 16px;
                      margin-bottom: 16px;
                      // text-transform: uppercase;

                      --checked-state-bg-color: hsl(209, 28%, 39%);
                      --checked-state-check-color: #fff;
                      --outline-color: var(--checked-state-bg-color);
                      --outline-offset: 0px;
                      --outline-radius: 5px;
                    }

                        // hide the checkbox accessibly
                        .extra-options-checkbox input[type="checkbox"] {
                          /* remove the checkbox from the page flow, positioning it on top of the SVG */
                          position: absolute;
                          /* set same dimensions as the SVG CHANGE THIS TO BIGGER */
                          width: 1em;
                          height: 1em;
                          /* hide it */
                          opacity: 0;
                        }



                        // basic styles for the svg
                        .extra-options-checkbox svg {
                            width: 192px;
                            height: 128px;
                            border-radius: 4px;
                            // padding: 10px;
                            // padding: 0px;


                            color: #243B53;
                            overflow: initial;
                            position: relative;
                            // top: -10px;
                            top: 0px;

                            // left: -118px;
                            left: 0px;

                            top: -16px;
                            left: -16px;

                            background-color: transparent;

                            // margin-right: 0.5em;
                            // margin-top: .1em;

                            /* apply a transition to the elements inside the svg */
                            * {
                              transition: all 0.1s linear;
                            }
                        }

                        .primary {
                          fill: hsl(209, 23%, 60%);
                        }

                        .secondary {
                          // fill: #6f213f;
                          fill: hsl(209, 23%, 60%);
                        }


                    .extra-options-checkbox span {
                        // color: #000;
                        position: absolute;
                        max-width: 112px;
                        display: block;
                    }


                    .extra-options-checkbox span.info {
                        color: hsl(209, 34%, 30%);
                        // position: absolute;
                        // max-width: 112px;
                        font-weight: 400;
                        padding-top: 4px;
                    }

                        // style changes inside the svg when the checkbox is checked
                        .extra-options-checkbox input[type="checkbox"]:checked + svg {

                          .primary {
                            fill: hsl(209, 34%, 30%);
                          }

                          .secondary {
                            fill: hsl(210, 36%, 96%);
                          }


                    }

                        .extra-options-checkbox input[type="checkbox"]:focus + svg {
                          outline: 3px solid var(--outline-color);
                          outline-offset: var(--outline-offset);
                        }
                        //
                        // .extra-options-checkbox input[type="checkbox"]:focus:not(:focus-visible) + svg {
                        //   outline: none;
                        // }







                        /* WHCM styles */
                        .extra-options-checkbox svg {
                          @media screen and (-ms-high-contrast: active) {
                            rect {
                              stroke: windowText;
                            }
                          }
                        }

                        @media screen and (-ms-high-contrast: active) {
                          .extra-options-checkbox input[type="checkbox"]:checked ~ svg {
                            rect {
                              fill: windowText;
                            }

                            polyline {
                              stroke: highlight;
                            }
                          }
                        }










    @media (max-width: 400px) {
        section {
            padding: 48px;
        }
    }
